/* Typography */
/* Use box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin & padding */
/* Set required font */
* {
    margin: 0;
    padding: 0;
    font-family: "Outfit", Arial, Helvetica, sans-serif;
}

/* Allow percentage-based heights */
html,
body {
    height: 100%;
}

body {
    /* Add accessible line-height */
    line-height: 1.5;
}

/* Improve media defaults */
img,
picture {
    display: block;
    max-width: 100%;
}



/* Avoid text overflows */
p,
h1 {
    overflow-wrap: break-word;
}

/* Improve line wrapping */
p {
    text-wrap: pretty;
}

h1 {
    text-wrap: balance;
    line-height: 1.1;
}


/* Custom CSS */

.body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: hsl(212, 45%, 89%);
}

.qrcode {
    max-width: 320px;
    padding: 1rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1rem;
}

.qrcode-content {
    margin: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
}

.qrcode-pic {
    margin: 0;
}

.qrcode-pic-img {
    width: 100%;
    border-radius: 0.625rem;
}

.qrcode-h1 {
    font-size: 1.4rem;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

.qrcode-p {
    font-size: 0.938rem;
    font-weight: 400;
    color: hsl(216, 15%, 48%);
}

.attribution {
    text-align: center;
    font-size: 0.688rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}